{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
  <div class="form-group">
    <label for="cust_id">Customer id</label>
    <input
      type="text"
      class="form-control"
      id="cust_id"
      name="cust_id"
      placeholder="Enter customer id"
    />
  </div>
  <div class="form-group">
    <label for="acc_no">Account number</label>
    <input
      type="text"
      class="form-control"
      id="acc_no"
      name="acc_no"
      placeholder="Enter account number"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}